[APP]
Name = 百炼英雄
WechatName = 微信
EnableScreenShot = True
EnableSound = True

[THREADS]
EnableDeamon = True
RestartWaitTime = 3

[WEB_SERVER]
Enable = True
Host = 0.0.0.0
Port = 8000


[TWILIO]
Enable = False
AccountSid = 
AuthToken = 
PhoneNumber = 
ToNumber = 


[TASK]
IsWakeUpApp = True
IsLoadingAds = True
EnableVirtualMap = False
EnableAutoUnionTask = True
EnableAutoAbilityImporve = False
EnableAutoDaliyElementTower = True
EnableAutoFight = True
EnableAutoGaCha = True
EnableAutoDaliyCase = True
EnableAutoWoodAndMine = False
EnableAutoCoin = True
GaChaCoinThreshold = 10000
IsTreasureNumGreaterThan30 = False


[CACHE]
FileName = .cache

